
.icon-book:before { content: '\e800'; } /* '' */
.icon-vector-pencil:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-snapchat-square:before { content: '\f2ad'; } /* '' */